body {
    padding: 0;
    margin: 0;
}

.bg-blue {
    background: rgba(116, 53, 1, 0.651);
}
/* .navbar .navbar-nav {
    width: 50%;
    justify-content: space-between;
} */
.navbar-nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}
.navbar .navbar-nav ul li:last-child  {
    width: 300px;
}
.navbar-brand {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 300;
}

.container .page-intro {
    color: rgb(95, 95, 95);
}
.page-intro h1 {
    font-weight: 200;
    letter-spacing: 3px;
}
.page-intro p:last-child {
    padding: 0 70px;
}

.brown {
    background: rgba(160, 82, 18, 0.603);
}

.menu {
    padding: 50px 90px;
}
.menu h4 {
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
}

.blog h3 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
}


/* ******************** Media query for large devices ******************** */
@media (min-width: 993px) {
    .navbar .navbar-nav {
        width: 50%;
        justify-content: space-between;
    }
}

/* ******************** Media query for medium devices ******************** */
@media  (max-width: 992px) {
    /* (min-width: 768px) and */
    .navbar .navbar-nav ul li form {
        width: 85vw;
    }
    .navbar .navbar-nav ul li form button {
        width: 15vw;
    }
    .city-post {
        margin-bottom: 20px;
    }
}

/* ******************* media query for small device *******************   */
@media (min-width: 575px) and (max-width: 767px)  {
}



/* ******************* media query for extra small device *******************   */
@media (max-width: 576px) {}